@import '../../style/default.less';

.header {
    background: @colorM;

    .header-top {
        height: 60px;
        line-height: 60px;
        text-align: right;
        padding: 0 20px;

        a {
            margin-left: 20px;
        }
    }

    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid @colorA;
        position: relative;

        .breadcrumb-title {
            text-align: center;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -12px;
                bottom: -8px;
                border-top: 9px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }

        .date {
            margin-right: 20px;
        }

        .weather {
            text-align: right;

            .weather-detail {

                .dayPictureUrl {
                    width: 24px;
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: 3px;
                }
            }

        }
    }
}